{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec",
      {
        "publishCmd": "bash scripts/semantic-postpublish.sh ${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "publishCmd": "echo ${nextRelease.version} > .version_semantic_info_workaround"
      }
    ],
    [
      "@semantic-release/github",
      {
        "successComment": false,
        "failTitle": false,
        "assets": [
          {
            "path": "tmp-assets/*"
          }
        ]
      }
    ]
  ]
}
